<IfModule mod_rewrite.c>

#RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ /list.php?hashtag=$1 [L,QSA]

RewriteEngine on
Redirect 301 /factbid3 https://factbid.substack.com/p/factbid3
Redirect 301 /version3 https://factbid.substack.com/p/factbid3
Redirect 301 /episode/1 https://factbid.substack.com/p/episode-1-did-we-miss-a-pandemic-cure
Redirect 301 /episode/2 https://factbid.substack.com/p/episode-2-vaccine-hesitancy
Redirect 301 /episode/3 https://factbid.substack.com/p/episode-3-multiuse-vials
Redirect 301 /episode/4 https://factbid.substack.com/p/episode-4
Redirect 301 /episode/5 https://factbid.substack.com/p/episode-5-ukraine
Redirect 301 /episode/6 https://factbid.substack.com/p/episode-6-dam
Redirect 301 /episode/7 https://factbid.substack.com/p/episode-7-aids-opv-theory
Redirect 301 /episode/8 https://factbid.substack.com/p/episode-7-hotez-kennedy
Redirect 301 /transcript/1 https://factbid.substack.com/p/episode-1-did-we-miss-a-pandemic-cure
Redirect 301 /transcript/2 https://factbid.substack.com/p/episode-2-vaccine-hesitancy
Redirect 301 /transcript/2c https://factbid.substack.com/p/2c-rfk-race
Redirect 301 /transcript/3 https://factbid.substack.com/p/episode-3-multiuse-vials
Redirect 301 /transcript/4 https://factbid.substack.com/p/episode-4
Redirect 301 /transcript/5 https://factbid.substack.com/p/episode-5-ukraine
Redirect 301 /transcript/6 https://factbid.substack.com/p/episode-6-dam
Redirect 301 /transcript/7 https://factbid.substack.com/p/episode-7-aids-opv-theory
Redirect 301 /transcript/8 https://factbid.substack.com/p/episode-7-hotez-kennedy
Redirect 301 /transcript/9 https://factbid.substack.com/p/evasiveness-weasel-words-chatgpts
Redirect 301 /transcript/10 https://factbid.substack.com/p/10-dot-connecting-lab-leak
Redirect 301 /transcript/11 https://factbid.substack.com/p/episode-11-three-lab-leaks
Redirect 301 /transcript/12 https://factbid.substack.com/p/episode-12-aliens
Redirect 301 /transcript/13 https://factbid.substack.com/p/episode-13-sv40
Redirect 301 /transcript/14 https://factbid.substack.com/p/weedvac
Redirect 301 /transcript/15 https://factbid.substack.com/p/maui-fire
Redirect 301 /transcript/15b https://factbid.substack.com/p/marc-andreesen
Redirect 301 /transcript/16 https://factbid.substack.com/p/episode-16-gardasil
Redirect 301 /transcript/17 https://factbid.substack.com/p/rewrite-aids-origins

# Redirect number to /#number
RewriteRule ^([0-9]+)$ /#$1 [R=301,L,NE]

RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /list.php?hashtag=$1 [L,QSA]
</ifModule>
